// Grid system
.row {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;

  &::before,
  &::after {
    display: flex;
  }

  // No wrap of flex
  &-no-wrap {
    flex-wrap: nowrap;
  }
}
.row-start {
  justify-content: flex-start;
}
.row-center {
  justify-content: center;
}
.row-end {
  justify-content: flex-end;
}
.row-space-between {
  justify-content: space-between;
}
.row-space-around {
  justify-content: space-around;
}
.row-space-evenly {
  justify-content: space-evenly;
}
.row-top {
  align-items: flex-start;
}
.row-middle {
  align-items: center;
}
.row-bottom {
  align-items: flex-end;
}

.col {
  position: relative;
  max-width: 100%;
  // Prevent columns from collapsing when empty
  min-height: 1px;
}

// Create default grid
@include make-grid("", $grid-columns);

// Generate media breakpoints
@each $type, $value in $breakpoints {
  @media #{$value} {
    @include make-grid(-#{$type}, $grid-columns);
  }
}
